footer {
    background-color: var(--color-manteca);
    color: var(--color-azul-claro);
    width: 100%;
}

.footer-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}

footer img {
    width: 150px;
}

footer .fa-brands {
    font-size: 1.5em;
}

.ubicacion-footer {
    display: flex;
    flex-direction: column;
}

.ubicacion-footer span {
    display: block;
}

.redes-footer .fa-brands {
    margin: 3px ;
}