main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    width: 100%;
}

.img-container {
    height: 550px;
    background-image: url(/assets/img/foto-bariloche.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--color-manteca);
    position: relative;
}

.habitacion-fecha{
    display: flex;
    box-sizing: border-box;
    position:absolute;
    top: 50px;
    justify-content:flex-end;
    border-radius: 32px;
    width: 600px;
    height: 50px;
    margin-top: 30px;
}

.habitacion-fecha label{
    background-color: var(--color-manteca);
    color: var(--color-azul-claro);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 3px;
    background-color: whitesmoke;
    color: black;
    height: 60px;
    margin: 5px;
    border-radius: 32px;
    cursor: pointer;
}

.huespedes:hover, .entrada:hover, .salida:hover{
    background-color: rgb(212, 207, 207);
    border: 1px var(--color-gris) solid;
}

.flatpickr:hover {
    /* background-color:rgb(212, 207, 207); */
    border: none;
    

}


.img-container h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align:center;
    background-color: var(--color-manteca);
    color: var(--color-azul-claro);
}

.sobre-nosotros h2 {
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.carousel {
    background-color: var(--color-azul-claro);
    color: var(--color-manteca);
}

.opiniones {
    display: flex;
    width: 70%;
    margin: 10px auto;
}

.opinion {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

