main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    width: 100%;
}

.img-container {
    height: 550px;
    background-image: url(/assets/img/fotoBariloche.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--color-manteca);
    position: relative;
}

.habitacion-fecha{
    display: flex;
    box-sizing: border-box;
    position:absolute;
    top: 10px;
    justify-content:flex-end;
    border-radius: 32px;
    width: 600px;
    height: 50px;
    margin-top: 30px;
}

.habitacion-fecha .entrada, .salida, .huespedes{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 3px;
    background-color: whitesmoke;
    color: black;
    height: 60px;
    margin: 5px;
    border-radius: 32px;
    cursor: pointer;
}

.flatpickr {

        width: 100px;
        border: 0px;
        text-align: center;
        background-color: whitesmoke;
        cursor: pointer;

}

.habitacion-fecha > .huespedes {
        display: grid;
        grid-template-columns: repeat(0.5fr 1fr 1fr);
        grid-template-rows: 30px 30px;
        width: 100px;
        grid-template-areas:
        "a a a e"
        "b c d e";
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        color: black;
        height: 60px;
        margin: 5px;
        border-radius: 32px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 3px;
        cursor: pointer;

      }
      .label_cantidad {
        grid-area: a;
        text-align: center;
        
      }
      .disminuir{
        grid-area: b;
        width: 25px;
        border-radius: 5px;
        border: none;
        background-color: whitesmoke;
    }

    .cantidadHuespedes{
        grid-area: c;
        text-align: center;
        box-sizing: content-box;
    }

    .aumentar{
        grid-area: d;
        width: 25px;
        border-radius: 5px;
        border: none;
        background-color: whitesmoke;
    }

    .buscar{
        grid-area: e;
        background-color: whitesmoke;
        width: 12px;
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        border-radius: 50%;
        padding: 0;
        align-items:self-end;
        aspect-ratio: 1;
        border: none;
    }

    .buscar > .material-symbols-outlined{
        width: 30px;
        aspect-ratio: 1;
        border: white;
        border-radius: 50%;
        background-color: #ff385c;
        font-size: 30px;
        font-variation-settings:
            'FILL' none,
            'wght' 500,
            'GRAD' 0,
            'opsz' 24
    }

    .huespedes > .input_cantidad{
        border-radius: 15px;
        border: none;
        text-align: center;
        width: 50px;
        background: none;  
        
    }

    /*----------------------------------
     Para ocultar las flechas de incremento y decremento de un input de tipo "number"  */
   
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    
    /* ------------------------------------- */

.entrada:hover, .salida:hover {

    border: 1px var(--color-gris) solid;
}

/* Se le sacan los efectos que tiene la etiqueta input */
input:focus {
    outline: none;
  }

.huespedes:hover{
    /* background: none; */
    border: 1px var(--color-gris) solid;
}

.flatpickr:hover {
    /* background-color:rgb(212, 207, 207); */
    border: none;
    

}


.img-container h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align:center;
    background-color: var(--color-manteca);
    color: var(--color-azul-claro);
}

.sobre-nosotros h2 {
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.carousel {
    background-color: var(--color-azul-claro);
    color: var(--color-manteca);
}

.opiniones {
    display: flex;
    width: 70%;
    margin: 10px auto;
}

.opinion {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



