@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./habitaciones.css);
@import url(./contacto.css);

:root {
    --color-azul-oscuro: #153448;
    --color-azul-claro: #3C5B6F;
    --color-manteca: #EAE7E0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    overflow-x: hidden;
}



